@charset "utf-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    font-family: '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho Pro', serif;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}


/*ヘッダー*/

header {
    border-top: 1rem solid #86700d;
}

.header_info {
    margin: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
}

.header_info::before {
    position: relative;
    display: block;
    content: "";
    width: 360px;
    margin-right: .8em;
}

.drawer_ul {
    display: none;
}

.info_ul {
    display: flex;
    justify-content: flex-end;
}

.info_li {
    position: relative;
    width: 180px;
    margin-left: .4em;
}

.info_li a {
    text-decoration: none;
    text-align: center;
    background-color: #574803;
    color: #fff;
    display: block;
    border-radius: 8px;
    padding: .4em .8em;
    transition: all .2s ease-out;
}

.info_li a:hover {
    background-color: #f0e29f;
    color: #86700d;
}

#top_ttl {
    display: block;
    margin: 40px auto;
}

#tab_toggle {
    display: none;
}

/*ナビの設定*/
.gnav ul {
    display: flex;
    justify-content: center;
}

.gnav li {
    padding: 20px 30px;
    margin-bottom: 20px;
}

.gnav a {
    display: block;
    text-decoration: none;
    color: #86700d;
    transition: all .2s ease-out;
    font-size: 1.5em;
    letter-spacing: .1em;
    text-align: center;
}

.gnav a:hover {
    color: #3c3101;
}

.current a {
    color: #3c3101;
    border-bottom: 1px solid #3c3101;
}


/*フッター*/

footer {
    border-top: 1px solid #86700d;
}

.footer_inner {
    width: 80%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
}

.footer_inner img {
    margin: 50px 30px 30px;
}

.footer_inner ul {
    margin: 50px 15px 30px;
}

.footer_inner li {
    line-height: 2em;
}

.footer_inner a,
#contact {
    text-decoration: none;
    color: #86700d;
    transition: all .2s ease-out;
    font-size: 1em;
}

.footer_inner a:hover {
    color: #3c3101;
}

#contact_ul {
    margin: 0;
    font-size: .8em;
}

.footer_policy ul {
    display: flex;
    justify-content: center;
}

.footer_policy li {
    margin: 0 30px;
}

.footer_policy a {
    text-decoration: none;
    color: #86700d;
    transition: all .2s ease-out;
    font-size: 1em;
}

.footer_policy a:hover {
    color: #3c3101;
}

.logo_maker {
    color: #86700d;
    text-align: right;
    padding-top: 30px;
}

.logo_maker a {
    color: #86700d;
    font-size: 1em;
    cursor: default;
}

/*aのhover取り消し*/
.logo_maker a:hover {
    color: #86700d;
}

.end_title {
    text-align: center;
    background-color: #86700d;
}

small a {
    color: #fff;
    font-size: .5em;
    cursor: default;
}

/*aのhover取り消し*/
small a:hover {
    color: #fff;
}


/*トップページ*/
/*スライダー*/
.top_slider {
    margin: 0 auto;
    max-width: 2000px;
}

/*コンテンツ*/
section {
    text-align: center;
}

.contents {
    max-width: 1110px;
    margin: 100px auto 150px;
}

section img {
    width: 100%;
    height: auto;
}

a,
#reservation_top {
    text-decoration: none;
    color: #86700d;
    transition: all .2s ease-out;
    cursor: pointer;
}

a:hover,
#reservation_top:hover {
    color: #3c3101;
}

.top_group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.label_ttl {
    text-align: left;
    font-size: 1.5em;
    display: inline-block;
    background-color: #f0e29f;
    padding: 0 8px;
    box-shadow: 9px 9px 0 #bab079;
}

.three_contents {
    width: 340px;
    padding: 0 .5em;
}

.three_contents img:hover {
    opacity: .8;
}

.reservation_menu {
    position: relative;
}

.reservation_mask a {
    color: #3c3101;
    font-size: 2em;
}

.reservation_mask li {
    text-align: center;
}

.reservation_mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.67);
    transition: all .8s ease-out;
}

.reservation_menu:hover .reservation_mask {
    opacity: 1;
    padding-top: 100px;
}

.three_contents img:hover ~ .label_ttl {
    background-color: #ede5be;
    box-shadow: 9px 9px 0 #bfbba2;
}

.reservation_mask a:hover {
    color: #86700d;
}

.wide_ttl {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    letter-spacing: .1em;
    display: flex;
    align-items: center;
}

.wide_ttl::before,
.wide_ttl::after {
    border-top: 1px dashed #86700d;
    content: "";
    flex-grow: 1;
}

.wide_ttl::before {
    margin-right: 5rem;
    margin-left: .5em;
}

.wide_ttl::after {
    margin-left: 5rem;
    margin-right: .5em;
}

.wide_content {
    margin-bottom: 120px;
}

.wide_content img {
    padding: 0 .5em;
}

.wide_content img:hover {
    opacity: .8;
}

.bottom_group {
    display: flex;
    justify-content: space-between;
}

.bottom_group img {
    margin-top: 5px;
}

.short_ttl {
    text-align: left;
    font-size: 1.5em;
}

/*ノーマルページ*/

/*別ページ案内*/
aside {
    width: 900px;
    margin: 150px auto 100px;
    border-top: 1px solid #86700d;
    padding-top: 30px;
}

.aside_content img {
    width: 290px;
}

aside img {
    width: 100%;
}

aside h2 {
    font-size: 1em;
    text-align: left;
}

.other_info {
    display: flex;
    justify-content: space-between;
}

/*bridal*/
.main_wide {
    margin: 20px auto 0;
    display: block;
    max-width: 2000px;
}

.bg_wide {
    background: linear-gradient(#261f01 0%, #a09256 100%) no-repeat 50% 50% / 100% 100%;
    padding: 100px 0;
}

.branch {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}

.branch_ttl {
    color: #fff;
    font-size: 1.5em;
}

.two_content img {
    width: 100%;
    padding: 0 1em;
}

.two_content img:hover {
    opacity: .8;
}

/*engagement・marriage*/
.item_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 100px auto 150px;
}

.item img {
    width: 250px;
    padding-bottom: 30px;
}

.item_wrap::after {
    display: block;
    content: "";
    width: 250px;
}

.item img:hover {
    opacity: .8;
}

/*商品詳細*/
.back {
    max-width: 1000px;
    margin: 0 auto;
}

.details {
    max-width: 1000px;
    margin: 30px auto 0;
    display: flex;
    justify-content: space-between;
}

.details img {
    width: 450px;
    height: 450px;
}

.txt_engagement,
.txt_marriage {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.details_ttl {
    font-weight: 800;
    font-size: 2em;
}

.details_txt {
    margin: 0 20px;
}

.gender {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 15px;
}

.price {
    font-size: 1.5em;
}

.txt_engagement .price {
    margin: 50px 0 10px;
}

.item_num {
    font-size: 1em;
    margin-bottom: 100px;
}

.txt_marriage .item_num {
    margin-bottom: 5px;
}

/*online shop＆来店予約ボタン*/
.info_btn li {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.btn {
    margin-top: 10px;
}

.btn a {
    background-color: #c4b677;
    display: block;
    text-align: center;
    color: #fff;
    padding: 5px;
    width: 450px;
    height: 30px;
    transition: all .2s ease-out;
    margin: 0 auto;
}

.btn a:hover {
    background-color: #504d3c;
}

.other_details {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 50px auto 0;
}

.sidebar,
.spec {
    width: 500px;
    margin: 0 20px;
}

.other_details h3 {
    font-size: 1em;
    font-weight: 800;
}

.other_details p {
    font-size: 1em;
}

/*company*/
.ttl {
    font-size: 2em;
    font-weight: 200;
    color: #86700d;
    text-align: center;
    padding: 30px;
}

.company {
    color: #897e4a;
    width: 800px;
    margin: 0 auto 100px;
}


/*枠線*/
.company th,
td {
    border-top: 1px solid #86700d;
    border-bottom: 1px solid #86700d;
    padding: 30px;
}

.company th {
    background: #f4eabc;
}

/*store list*/
.ttl + img {
    margin: 0 auto;
}

/*地図*/
.map {
    margin: 20px 0;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*店舗一覧の全体*/
.store_list {
    width: 800px;
    margin: 100px auto 200px;
}

.store_name {
    font-size: 1.5em;
    font-weight: 600;
    color: #574803;
}

/*詳細を表示 */
.store_box *,
.store_box *:before,
.store_box *:after {
    box-sizing: border-box;
}

.store_box {
    position: relative;
    padding-top: 100px;
}

/*グラデーション*/
.store_box label {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(255, 254, 248, 0) 0%, #FFFFFF 100%) no-repeat 50% 50% / 100% 100%;
}

/* 開いた時にグラデーションを消す */
.store_box input:checked + label {
    background: inherit;
}

.store_box input {
    display: none;
}

/*一部表示中の店舗情報*/
.store_content {
    overflow: hidden;
    height: 100px;
    transition: all 1s;
    color: #86700d;
}

.store_content p {
    margin: 10px;
}

/* 続きを読むボタン */
.store_box label::after {
    position: absolute;
    display: block;
    line-height: 2.5rem;
    z-index: 2;
    bottom: 10px;
    left: 40%;
    width: 16rem;
    content: '\f107'' 続きをよむ';
    font-family: "Font Awesome 5 Free", '游明朝', 'Yu Mincho', YuMincho, 'Hiragino Mincho Pro', serif;
    font-weight: 900;
    letter-spacing: .05em;
    color: #fff;
    border-radius: 8px;
    background-color: #86700d;
}

/*クリック後のボタン*/
.store_box input:checked + label::after {
    content: '\f106'' 閉じる';
    background-color: #f0e29f;
    color: #86700d;
}

.store_box input:checked ~ .store_content {
    height: auto;
    padding-bottom: 30px;
    transition: all 1s;
}

.reservation_open {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #86700d;
}

.reservation_open a {
    padding: 5px;
}

/*contact*/
.contact {
    margin: 100px auto;
    position: relative;
    padding-bottom: 1900px;
}

.contact iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*reservation*/
.rsv_branch {
    margin: 150px auto;
    position: relative;
    width: 800px;
}

.rsv_inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    border-top: 1px solid #86700d;
}

.rsv_inner img {
    width: 300px;
    height: auto;
    padding: 20px;
}

.rsv_txt {
    width: 440px;
    height: auto;
    padding: 30px;
}

.ttl_box {
    display: flex;
    justify-content: space-between;
}

.rsv_ttl {
    font-size: 1.5em;
    font-weight: 600;
    color: #574803;
}

.rsv_btn {
    padding: 6px;
    background-color: #574803;
    border-radius: 8px;
    color: #fff;
    transition: all .2s ease-out;
}

.rsv_btn:hover {
    background-color: #f0e29f;
    color: #86700d;
}

.rsv_txt p {
    padding: 20px 5px;
}

/*店舗ごと*/
.reservation {
    margin: 100px auto;
    position: relative;
    padding-bottom: 1900px;
}

.rsv_back {
    max-width: 650px;
    margin: 0 auto;
}

.reservation iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
